<head>
  <link rel="icon" sizes="16x16 32x32" href="/favicon.ico?v=2">
  <title> testBob candidate Edition </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
 
  {{#if currentUser}}
    {{> Template.dynamic template=Page }}
  {{ else }}
    {{> login }}
  {{/if}}

</body>

<template name='login'>
  <style>
  #login {
    margin: 1rem auto 1px auto;
  }
  </style>

  <div id='login' class='page container' style='text-align: center;'>
    {{> loginButtons }}
  </div>

</template>

<template name='home'>
  <div id='home' class='page container'>


  {{#if Session 'message'}}  
    <h3>{{ Session 'message' }}</h3>
    <hr>
  {{ else }}
    {{#if currentUser}}
    <div class='row'>
      <div class="ten columns">
        <a href="#signout" class="logout"><i id="signout" class="red fa fa-power-off"></i></a>&nbsp;
        {{ currentUser.profile.email }}
      </div>
      <div class="two columns">
        <button id='clock'>
          Start
          <i class="fa fa-clock-o" style='color:green;'></i>
        </button>
      </div>
    </div>
    
    <div class='row' style='margin:0 25%;'>
      <div>
        <label>
          <div class='overlay' style="background:url('{{avatar}}') no-repeat; margin-left:25%;">
            <div>{{{ fitText test.email }}}</div>
          </div>
          <input id="avatar" type="file" style="display:none">
        </label>
      </div>
    </div>

    <div class='row'>
      <div id='stars' style="margin:0 25%">
        <h1>Test you, we must! <h5>-- Yoda </h5></h1>
        <hr>
        <ol style="{{ scrollbar 30 exams.length 5 }}">
        {{#each test in tests}}
          {{#if equals (Session 'Test') test._id }}
            <li id='{{ test._id }}' class='red test'>{{ test.name }}</li>
          {{ else }}
            <li id='{{ test._id }}' class='test'>{{ test.name }}</li>
          {{/if}}          
        {{ else }}
          <li id='none' class='test'>No tests</li>
        {{/each}}
        </ol>        
      </div>

    </div>
    {{ else }}
    <div class='row'>
      <div style="margin:25%">
        <h1>Test you, we must! <h5>-- Yoda </h5></h1>
        <hr>
        <div class="ten columns">
          <input id="email" class="field" type="email" placeholder="Email" >
        </div>
        <div class="two columns">
          <button id='login'>
            Login &nbsp;
            <i class="fa fa-user" style='color:green;'></i>
          </button>
        </div>        
      </div>
    </div>
    {{/if}}
  {{/if}}
  </div>

</template>

<template name='test'>
  <style>
    #frame {
      padding:1%;
    }

    #toolbar a {
      margin:.25em;
      padding: 8px;
      height:2.5rem;
    }

    #question {
      white-space:pre-wrap; 
      display:block;
      height: 35vh;
      resize:both;
      overflow: auto; 
      font-size:.75em;
    }  

    #question div {
      margin:auto;
    }

    .centered {
      margin:auto;
      height:25rem;
    }

    #question img {
      margin:auto;
      height:25rem;
    }

    #title {
      text-align: center;
    }

    .answer { display:inline;}
  </style>

  
  <div id='test' class='page container'>

    
    <div class='row'>
      <div class="ten columns">
        <h5 id="{{ project._id }}" class='red exam'>{{ project.course }} {{ project.name }}</h5>
      </div>
      <div class="two columns">
        <button id='clock'>
          {{ nao }} {{ check }}
          <i class="fa fa-clock-o" style='color:green;'></i>
        </button>
      </div>
    </div>
            
    <div class='row'>

      <div id='frame'>

        {{#each card in questions }}
          {{#if equals (Session 'Item') @index }}

            {{#if settings.topic }}
            <div class='card float-center' id='topic'>{{ card.topic }}</div>
            {{/if}}
            
            <div id='toolbar' style='height:3em' class='card'>
              {{#if settings.back }}
                {{#if equals @index 0 }}
                <!-- first no  back -->
                {{ else }}
                <a id='back' class="circle on-brown fa fa-arrow-circle-left"> </a>
                {{/if}}
              {{/if}}
              {{#if settings.next }}
                {{#if equals (offset @index) questions.length }}
                <a id='done' class="circle on-brown fa fa-flag-checkered pull-right"></a>
                {{ else }}
                <a id='next' class="circle on-brown fa fa-arrow-circle-right pull-right"></a>
                {{/if}}
              {{/if}}
              <div style='text-align:center;width:95%;'>{{ offset @index }} of {{ questions.length }}</div>
            </div>

            <div id='question' class='card'>{{{ card.question }}}</div> 
            <p id='title' class='card'>{{ card.title }}</p>

            <div id='answers' class='card'>
              <style>
                .select  {
                  color:whitesmoke;
                }
                li:hover .select {
                  color:green;
                }
                .selected  {
                  color:darkgreen;
                }
              </style>
              <ul style='list-style:none; margin-top:1em;'>
                {{#each answer in card.answers }}
                <li class='option'>
                  <label>
                    <i id='{{ @index }}' style='width:8%;text-align:center;' class="{{ selected @index }} fa fa-check">  </i>
                    <div class='answer' id='{{ @index }}' name='option'>{{ answer.option }}</div>
                  </label>
                </li>
                {{/each}}
              </ul>
            </div>

          {{/if}}
        {{/each}}
      </div>

    </div>
  </div>
</template>

<template name='done'>
  <div id='done' class='page container'>

  {{#if Session 'message'}}  
    <h3>{{ Session 'message' }}</h3>
    <hr>
  {{ else }}
  
    {{#if currentUser}}
    <div class='row'>
      <div class="ten columns">
        <h5 id="{{ test.take }}" class='red test'>{{ test.course }} {{ test.name }}</h5>
      </div>
    </div>
            
    <div class='row'>
      <div id='stars' style="margin:25%">
        You scored:
        <h1>{{ score }} out of {{ Session 'total' }}.</h1>
        <hr>
      </div>
    </div>
    {{/if}}
  {{/if}}
  </div>

</template>
