body {
  margin:auto;
  width: auto;
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;  
  background: aliceblue;
}

a.login-close-text { display: none }
#login-sign-in-link { display: none }
#login-name-link { display: none }

.visible {
  color: white;
}

.page {
  background:white;
  box-sizing: border-box;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);      
  margin: 1rem auto 1px auto;
  padding:.5em;
  min-height:80vh;
}

.overlay {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin-top:20px;
    position:relative;
    width:175px;
    height:175px;
    border-radius:50%;
}

.overlay > div {
    position:absolute;
    color:white;
    width:100%;
    text-align:center;
    top:33%;
    font:50px sans-serif;
}
.overlay > div.caption {
    top:67%;
    font:16px sans-serif;
}

img.img-rounded {
  vertical-align: middle;
}

.profile img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 3px solid #688a7e;
    display: inline-block;
    width: 50px;
    height: 50px;        
}

.small img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 1px solid #688a7e;
    display: inline-block;
    width: 32px;
    height: 32px;    
}

/** INPUTS **/
input[type=text], input[type=url], input[type=email], input[type=password], input[type=number], input[type=date] {
  -webkit-appearance: none; -moz-appearance: none;
  margin: 0;
  width:100%;
  padding-left: .5em;
  height: 40px;
  border: 1px solid #bbb;
}

input[type=date] {
  position: relative;
  color: white;
}

input[type=date]:before {
  content: attr(data-date);
  display: inline-block;
  color: black;
}

input[type='date']::-webkit-datetime-edit, input[type='date']::-webkit-inner-spin-button, input[type='date']::-webkit-clear-button {
  display: none;
}

input[type='date']::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 0;
  color: black;
  opacity: 1;
}

input:focus {
    background-color: lightblue;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    display: block;
}

.round {
    border-radius: 3px;
}

.circle {
    border-radius: 50%;
}

.thumb {
    background-color: #fff;
    border: 1px solid #ededf0;
    border-radius: 3px;
    display: inline-block;
    height: auto;
    line-height: 1.428571429;
    max-width: 100%;
    moz-transition: all .2s ease-in-out;
    o-transition: all .2s ease-in-out;
    padding: 2px;
    transition: all .2s ease-in-out;
    webkit-transition: all .2s ease-in-out;
}

.no-border{border:0 !important}
.no-padding{padding:0 !important}
.no-margin {margin:0 !important}

.top,.bottom{position:fixed;width:100%;z-index:1}.top{top:0}.bottom{bottom:0}
.left{float:left !important}.right{float:right !important}
.hide{display:none !important}.show{display:block !important}

.nano{font-size:6px !important}
.tnsy{font-size:8px !important}
.tiny{font-size:10px !important}
.small{font-size:12px !important}
.medium{font-size:15px !important}
.large{font-size:18px !important}
.xlarge{font-size:24px !important}
.xxlarge{font-size:36px !important}
.xxxlarge{font-size:48px !important}
.huge{font-size:52px !important}
.jumbo{font-size:64px !important}
.slim{font-family:"Segoe UI",Arial,sans-serif !important}
.wide{font-family:"Segoe UI",Arial,sans-serif !important;letter-spacing:4px}

.left-align{text-align:left !important}.right-align{text-align:right !important}
.justify{text-align:justify !important}
.center{text-align:center !important}

.circle{border-radius:50% !important}
.round-small{border-radius:2px !important}.round,.round-medium{border-radius:4px !important}
.round-large{border-radius:8px !important}.round-xlarge{border-radius:16px !important}
.round-xxlarge{border-radius:32px !important}.round-jumbo{border-radius:64px !important}

.border-0{border:0 !important}
.border{border:1px solid #ccc !important}
.border-top{border-top:1px solid #ccc !important}.border-bottom{border-bottom:1px solid #ccc !important}
.border-left{border-left:1px solid #ccc !important}.border-right{border-right:1px solid #ccc !important}

.margin-0{margin:0 !important}
.margin-2{margin:2px !important}
.margin-4{margin:4px !important}
.margin-8{margin:8px !important}
.margin-12{margin:12px !important}
.margin-16{margin:16px !important}
.margin-24{margin:24px !important}
.margin-32{margin:32px !important}
.margin-64{margin:64px !important}
.margin{margin:16px !important}
.margin-top{margin-top:16px !important}.margin-bottom{margin-bottom:16px !important}
.margin-left{margin-left:16px !important}.margin-right{margin-right:16px !important}

.padded-tiny{padding:2px 4px !important}
.padded-small{padding:4px 8px !important}
.padded-medium,.padded,.form{padding:8px 16px !important}
.padded-large{padding:12px 24px !important}
.padded-xlarge{padding:16px 32px !important}
.padded-xxlarge{padding:24px 48px !important}
.padded-jumbo{padding:32px 64px !important}
.padded-0{padding:0 !important}
.padded-4{padding-top:4px !important;padding-bottom:4px !important}
.padded-8{padding-top:8px !important;padding-bottom:8px !important}
.padded-16{padding-top:16px !important;padding-bottom:16px !important}
.padded-24{padding-top:24px !important;padding-bottom:24px !important}
.padded-32{padding-top:32px !important;padding-bottom:32px !important}
.padded-48{padding-top:48px !important;padding-bottom:48px !important}
.padded-64{padding-top:64px !important;padding-bottom:64px !important}
.padded-top{padding-top:8px !important}.padded-bottom{padding-bottom:8px !important}
.padded-left{padding-left:16px !important}.padded-right{padding-right:16px !important}
.padded-48-left{padding-left:48px !important}
.row-padding,.row-padding>.half,.row-padding>.third,.row-padding>.twothird,.row-padding>.quarter,.row-padding>.col{padding:0 8px}
.kern-left{padding-left:.5em !important}
.kern-right{padding-right:.5em !important}

.btn{border:none;display:inline-block;outline:0;padding:6px 16px;vertical-align:middle;overflow:hidden;text-decoration:none !important;color:#fff;background-color:#000;text-align:center;transition:.2s ease-out;cursor:pointer;white-space:nowrap}
.btn.disabled,.btn-floating.disabled,.btn:disabled,.btn-floating:disabled,.btn-floating-large.disabled,.btn-floating-large:disabled{cursor:not-allowed;opacity:0.3}
.btn.disabled *,.btn-floating.disabled *,.btn:disabled *,.btn-floating:disabled *{pointer-events:none}
.btn.disabled:hover,.btn:disabled:hover,.btn-floating.disabled:hover,.btn-floating:disabled:hover,
.btn-floating-large.disabled:hover,.btn-floating-large:disabled:hover{box-shadow:none}
.btn:hover,.btn-floating:hover,.btn-floating-large:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.btn-floating,.btn-floating-large{display:inline-block;text-align:center;color:#fff;background-color:#000;position:relative;overflow:hidden;z-index:1;padding:0;border-radius:50%;transition:.3s;cursor:pointer;font-size:24px}
.btn-floating{width:40px;height:40px;line-height:40px}
.btn-floating-large{width:56px;height:56px;line-height:56px}
.btn-group .btn{float:left}
.btn.ripple{position:relative}
.ripple:after{content:"";background:#90EE90;display:block;position:absolute;padding-top:300%;padding-left:350%;margin-left:-20px!important;margin-top:-120%;opacity:0;transition:all 0.8s}
.ripple:active:after{padding:0;margin:0;opacity:1;transition:0s}
.badge,.tag,.sign{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;font-weight:bold;text-align:center}
.badge{border-radius:50%}

input[type=checkbox],input[type=radio]{padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{box-sizing:content-box;-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}

select {
   margin: 10px;
   border: 1px solid #111;
   background: transparent;
   width: 100px;
   padding: 2px 15px 2px 2px;
   font-size: 13px;
   border: 1px solid #ccc;
   height: 24px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background: url(/img/stackoverflow.ico) 96% / 15% no-repeat #eee;
} 

/* COLORS */
.light {color:#000 !important;background-color:#FFEBEE !important}
.dark {color:#fff !important;background-color:#B71C1C !important}

.amber{color:#ffc107 !important}.on-amber{color:#000 !important;background-color:#ffc107 !important}
.aqua{color:#00ffff !important}.on-aqua{color:#000 !important;background-color:#00ffff !important}
.blue{color:#2196F3 !important}.on-blue{color:#fff !important;background-color:#2196F3 !important}
.light-blue{color:#87CEEB !important}.on-light-blue{color:#000 !important;background-color:#87CEEB !important}
.brown{color:#795548 !important}.on-brown{color:#fff !important;background-color:#795548 !important}
.cyan{color:#00bcd4 !important}.on-cyan{color:#000 !important;background-color:#00bcd4 !important}
.blue-grey{color:#607d8b !important}.on-blue-grey{color:#fff !important;background-color:#607d8b !important}
.green{color:#4CAF50 !important}.on-green{color:#fff !important;background-color:#4CAF50 !important}
.light-green{color:#8bc34a !important}.on-light-green{color:#000 !important;background-color:#E8F5E8!important}
.indigo{color:#3f51b5 !important}.on-indigo{color:#fff !important;background-color:#3f51b5 !important}
.khaki{color:#b4aa50 !important}.on-khaki{color:#000 !important;background-color:#f0e68c !important}
.lime{color:#cddc39 !important}.on-lime{color:#000 !important;background-color:#cddc39 !important}
.orange{color:#ff9800 !important}.on-orange{color:#000 !important;background-color:#ff9800 !important}
.deep-orange{color:#ff5722 !important}.on-deep-orange{color:#fff !important;background-color:#ff5722 !important}
.light-pink{color:#feedf0 !important}.on-light-pink{color:#000 !important;background-color:#feedf0 !important}

.pink{color:#e91e63 !important}.on-pink{color:#fff !important;background-color:#e91e63 !important}
.purple{color:#9c27b0 !important}.on-purple{color:#fff !important;background-color:#9c27b0 !important}
.deep-purple{color:#673ab7 !important}.on-deep-purple{color:#fff !important;background-color:#673ab7 !important}
.red{color:#f44336 !important}.on-red{color:#fff !important;background-color:#f44336 !important}
.sand{color:#fdf5e6 !important}.on-sand{color:#000 !important;background-color:#fdf5e6 !important}
.teal{color:#009688 !important}.on-teal{color:#fff !important;background-color:#009688 !important}
.yellow{color:#d2be0e !important}.on-yellow{color:#000 !important;background-color:#ffeb3b !important}
.white{color:#fff !important}.on-white{color:#000 !important;background-color:#fff !important}
.black{color:#000 !important}.on-black{color:#fff !important;background-color:#000 !important}
.grey{color:#757575 !important}.on-grey{color:#000 !important;background-color:#9e9e9e !important}
.light-grey{color:#f1f1f1 !important}.on-light-grey{color:#000;background-color:#f1f1f1 !important}
.dark-grey{color:#a9a9a9 !important}.on-dark-grey{color:white;background-color:#a9a9a9 !important}
.graphite{color:#454545 !important}.on-graphite{color:white;background-color:#454545 !important}

.opacity{opacity:0.60}.on-shadow{shadow:1px 1px 0 #444}.on-shadow-white{shadow:1px 1px 0 #ddd}
